@media (max-width:1320px) { 

.broadcasts__list-item:not(:nth-child(2n)) {
  margin-right: 29px;
}

.broadcasts__list-item:not(:nth-child(3n)) {
  margin-right: 0;
}


.broadcasts__list-item:not(:nth-child(2n)) {
  margin-right: 29px;
}

.broadcasts__left-content {
  margin-right: 30px;
}

.broadcasts__list {
  justify-content: flex-end;
}


}

@media (max-width:1200px) {

.header-top {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  align-items: center;
}

.header-top__logo {
  padding: 23px 0;
}

.header-center__logo {
  display: none;
}

.header-top__enter {
  display: none;
}

.header-bottom__limitation-icon {
  display: none;
}

.header-bottom__link:not(:last-child) {
  margin-right: 29px;
}

.header-bottom__btn-1,
.header-bottom__btn-2 {
  width: 150px;
}

.header-bottom__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero__bg {
  padding: 90px 0;
}

.hero__content {
  padding-top: 92px;
  padding-bottom: 90px;
}

.hero__title {
  margin-bottom: 14px;
}

.hero__descr {
  max-width: 510px;
  margin-bottom: 20px;
}

.podcasts {
  padding-bottom: 92px;
}

.podcasts__list-item {
  width: 48.2%;
}

.broadcasts__time {
  margin-bottom: 19px;
}

.broadcasts__bottom-link {
  padding: 10px 44px 9px 43px;
  margin-bottom: 12px;
}

.broadcasts__title {
  margin-bottom: 11px;
}

.broadcasts__author {
  margin-bottom: 6px;
}

.broadcasts__content {
  padding: 22px 65px 19px 15px;
}


}

@media (max-width:1023px) {

.container {
  padding: 0 115px;
}

.header-center__burger {
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/burger-icon.svg);
  background-repeat: no-repeat;
}

.header__close-menu {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 3px;
  margin-bottom: 58px;
}

.header__nav {
  width: 100%;
  height: 400px;
  position: absolute;
  left: -100vw;
  padding-top: 25px;
  padding-left: 115px;
  top: 60px;
  z-index: 101;
  background-color: var(--color-shade-gray);
  transition: left .3s ease-in-out;
  background-image: url(../img/burger-bg-icon-2.png);
  background-repeat: no-repeat;
  background-position: top right 113px;
}

.header__nav.burger-active {
  left: 0;
  transition: left .3s ease-in-out;
}

.header__nav-left {
  flex-wrap: wrap;
  width: 238px;
  max-height: 300px;
}

.header__nav-right-img,
.header__nav-right-img-2 {
  display: block;
  width: 113px;
  height: 375px;
  padding-top: 60px;
  margin-left: 46px;
}

.header__nav-right-img-2 {
  padding-top: 0;
  padding-bottom: 50px;
  margin-left: 30px;
}

.menu {
  flex-wrap: wrap;
  flex-direction: column;
  width: 216px;
  max-height: 300px;
}

.menu__item {
  margin-bottom: 64px;
}

.menu__item:not(:last-child) {
  margin-right: 47px;
}

.header-bottom__buttons {
  display: none;
}

.header-bottom__play-button {
  display: block;
  padding: 20px 0;
}

.hero__bg {
  display: none;
}

.podcasts__list {
  flex-direction: column;
  margin-bottom: 61px;
}

.podcasts__list-item {
  width: 100%;
  max-height: none;
  height: 100%;
}

.broadcasts {
  padding-top: 96px;
  padding-bottom: 30px;
}

.broadcasts__container {
  padding: 0 114px;
}

.broadcasts__right-content {
  display: none;
}

.broadcasts__list-left {
  display: flex;
}

.broadcasts__left-content {
  margin-right: 0;
}

.broadcasts__select {
  margin-bottom: 46px;
}

.broadcasts__list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.broadcasts__bottom-content {
  border-top: 1px solid var(--color-light-color);
  margin-top: 30px;
}

.broadcasts__bottom-content {
  flex-direction: row;
  align-self: center;
}

.broadcasts__bottom-descr {
  max-width: 255px;
}

.broadcasts__bottom-content {
  padding-top: 31px;
}

.broadcasts__bottom-content-img {
  margin-bottom: 0;
  margin-right: 20px;
}

.broadcasts__bottom-link {
  padding: 9px 43px 9px 44px;
  margin-bottom: 8px;
}

.broadcasts__content {
  outline: none;
  border: 1px solid var(--color-light-color);
  padding: 20px 15px 17px 15px;
}

.broadcasts__link-arrow {
  padding-top: 5px;
}

.broadcasts__name {
  margin-bottom: 3px;
}

.broadcasts__time {
  margin-bottom: 18px;
}

.broadcasts__list-item {
  margin-bottom: 29px;
}

.broadcasts__list {
  justify-content: space-between;
}

}

@media (max-width:767px) {

.container {
  padding: 0 50px;
}

.header-bottom__list,
.header-bottom__play-button {
  display: none;
}

.header-bottom__whatplay {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-bottom__play-btn {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-primary);
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 5px;
}

.header__nav {
  padding-left: 50px;
}

.header__nav-right {
  display: none;
}

.broadcasts__list-item {
  width: 47%;
}

.broadcasts__list-item .broadcast-content-img {
  width: 100%;
}

.broadcasts__list-item:not(:nth-child(2n)) {
  margin-right: 0;
}

.broadcasts__content {
  height: 133px;
}

.broadcasts__link {
  margin-top: auto;
}




}

@media (max-width:500px) {

.container {
  padding: 0 32px;
}

.header__nav {
  top: 54px;
  padding-top: 10px;
  padding-left: 32px;
  background-image: none;
}

.header-center__enter {
  display: none;
}

.header-top__enter {
  display: block;
  cursor: pointer;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.header-center {
  padding-top: 5px;
  padding-bottom: 6px;
}

.header-center__buttons {
  width: 24px;
  height: 24px;
}

.header-top__logo {
  padding: 22px 0;
}

.hero__content {
  padding-top: 42px;
}

.hero__title {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 7px;
}

.hero__descr {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.hero__link {
  max-width: 200px;
  font-size: 16px;
  line-height: 16px;
  padding: 17px 45px;
}

.podcasts__content {
  flex-direction: column;
}

.podcasts__content-item-top {
  min-height: 113px;
}

.podcasts__content-img {
  width: 100%;
}

.podcasts__list-item-2 {
  display: none;
}

.podcasts {
  padding-bottom: 54px;
}

.broadcasts {
  padding-top: 55px;
}

.broadcasts__title {
  font-size: 24px;
  line-height: 24px;
}

.broadcasts__author {
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__title {
  margin-bottom: 19px;
}

.broadcasts__select {
  margin-bottom: 29px;
}

.broadcasts__name {
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__time {
  font-size: 9px;
  line-height: 9px;
}

.broadcasts__link {
  font-size: 12px;
  line-height: 12px;
}

.broadcasts__link-arrow {
  padding-top: 2px;
}


}

@media (max-width:350px) {

.header__close-menu {
  margin-bottom: 28px;
}

.header__nav {
  height: 225px;
}

.menu {
  max-height: 190px;
}

.menu__item {
  margin-bottom: 40px;
}

.menu__item:nth-last-child(n+2) {
  margin-right: 40px;
}

.hero__descr {
  max-width: 256px;
}

.hero__content {
  padding-bottom: 40px;
}

.podcasts {
  padding-top: 54px;
}

.podcasts__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.podcasts__content-item-top {
  padding: 17px 16px 16px 16px;
}

.podcasts__content-item-top {
  min-height: 83px;
}

.podcasts__time {
  line-height: 11px;
  margin-bottom: 8px;
}

.podcasts__name {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

.podcasts__autor {
  font-size: 12px;
  line-height: 12px;
}

.podcasts__content-item-bottom {
  min-height: 27px;
}

.podcasts__list-item:not(:last-child) {
  margin-bottom: 31px;
}

.podcasts__social-content-text {
  font-size: 12px;
  line-height: 12px;
}

.podcasts__social-list {
  padding-top: 0;
  padding-left: 34px;
}

.podcasts__list {
  margin-bottom: 0;
}

.podcasts__button {
  padding: 15px 28px;
  font-size: 16px;
  line-height: 16px;
}

.broadcasts__list-item {
  width: 44%;
}

.broadcasts__content {
  padding: 12px 12px 12px 10px;
}

.broadcasts__content {
  height: 99px;
}

.broadcasts__link {
  color: var(--color-primary);
}

.broadcasts__content {
  padding: 10px 9px 9px 9px;
}

.broadcasts__name {
  margin-bottom: 5px;
}

.broadcasts__link-arrow {
  padding-left: 4px;
}

.broadcasts__list-item {
  margin-bottom: 30px;
}

.broadcasts__bottom-content {
  margin-top: 1px;
}

.broadcasts__bottom-descr-content {
  flex-direction: column-reverse;
}

.broadcasts__bottom-content {
  padding-top: 30px;
}

.broadcasts__bottom-content-img {
  margin-right: 13px;
}

.broadcasts__bottom-descr{
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 7px;
}

.broadcasts__bottom-link {
  padding: 6px 9px 7px 18px;
  width: 110px;
}

.broadcasts__link-svg {
  padding-top: 0px;
  padding-left: 0px;
  margin-right: 3px;
}




}