html {
  box-sizing: border-box;
}
  
*,
*:before,
*::after {
  box-sizing: inherit;
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerLight.woff2") format('woff2'),
  url("../fonts/MullerLight.woff") format('woff');
  font-display: swap;
  font-weight: 300;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerRegular.woff2") format('woff2'),
  url("../fonts/MullerRegular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerMedium.woff2") format('woff2'),
  url("../fonts/MullerMedium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerBold.woff2") format('woff2'),
  url("../fonts/MullerBold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #121723;
  --color-light-black: #292E39;
  --color-primary: #6D31EE;
  --color-primary-shade: #4F28A5;
  --color-primary-light: #AA9DFA;
  --color-light-color: #E6E8EC;
  --color-text-gray: #A1A6B4;
  --color-shade-gray: #D2D5DD;
  --color-light-color-40: rgba(230, 232, 236, 0.4);
  --color-red: #FF6F6F;;
  --color-promo-color: #F0D288;;
  --color-promo-color-shade: #BB973E;;
}  

body {
  font-family: 'Muller', sans-serif;
  background: var(--color-white);
}
  
.flex {
  display: flex;
}
  
.btn-reset {
  padding: 0;
  margin: 0;  
  cursor: pointer;
  border: none;
  background: transparent;
}
  
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fz_hack {
  font-size: 0;
}

.section-title {

}

.section-descr {

}

.container {
  max-width: 1310px;
  padding: 0 100px;
  margin: 0 auto;
}


/* header */

.header-top {
  display: none;
  font-size: 0;
}

.header-center__burger {
  display: none;
}

.header__close-menu {
  display: none;
}

.header-bottom__play-btn {
  display: none;
}

.header-bottom__whatplay {
  display: none;
}

.header-center {
  align-items: center;
  justify-content: space-between;
}

.header-center__buttons {
  padding: 20px 0;
  width: 152px;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  padding-top: 5px;
}

.header-enter {
  cursor: pointer;
  padding: 10px 31px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.menu__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

.menu {
  width: 638px;
  justify-content: space-between;
}

.header-bottom {
  font-size: 0;
  outline: 1px solid var(--color-light-color);
}

.header-bottom__container {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-bottom__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.header-bottom__link:not(:last-child) {
  margin-right: 52px;
}

.header-bottom__btn {
  padding-left: 12px;
  padding-right: 12px;
}

.header-bottom__btn-1,
.header-bottom__btn-2 {
  width: 173px;
  height: 40px;
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
}

.header-bottom__btn-2 {
  border-left: transparent;
}

.header-bottom__subtitle {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin-bottom: 5px;
}

.header-bottom__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 5px;
}

.header-bottom__content {
  padding-top: 3px;
}

.header-bottom__play-button {
  display: none;
}