html {
  box-sizing: border-box;
}
  
*,
*:before,
*::after {
  box-sizing: inherit;
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerLight.woff2") format('woff2'),
  url("../fonts/MullerLight.woff") format('woff');
  font-display: swap;
  font-weight: 300;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerRegular.woff2") format('woff2'),
  url("../fonts/MullerRegular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerRegularItalic.woff2") format('woff2'),
  url("../fonts/MullerRegularItalic.woff") format('woff');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerMedium.woff2") format('woff2'),
  url("../fonts/MullerMedium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerBold.woff2") format('woff2'),
  url("../fonts/MullerBold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #121723;
  --color-light-black: #292E39;
  --color-primary: #6D31EE;
  --color-primary-shade: #4F28A5;
  --color-primary-light: #AA9DFA;
  --color-light-color: #E6E8EC;
  --color-text-gray: #A1A6B4;
  --color-shade-gray: #D2D5DD;
  --color-light-color-40: rgba(230, 232, 236, 0.4);
  --color-red: #FF6F6F;;
  --color-promo-color: #F0D288;;
  --color-promo-color-shade: #BB973E;;
}  

body {
  font-family: 'Muller', sans-serif;
  background: var(--color-white);
}
  
.flex {
  display: flex;
}
  
.fz-hack {
  font-size: 0;
}

.btn-reset {
  padding: 0;
  margin: 0;  
  cursor: pointer;
  border: none;
  background: transparent;
}
  
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-reset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}

.subtitle-reset {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

.container {
  max-width: 1310px;
  padding: 0 100px;
  margin: 0 auto;
}

/* header */

.header-top {
  display: none;
}

.header-center__burger {
  display: none;
}

.header__close-menu {
  display: none;
}

.header__mobile {
  display: none;
}

.header-bottom__play-btn {
  display: none;
}

.header-bottom__whatplay {
  display: none;
}


.header-bottom__container-list {
  width: 57.5%;
  justify-content: space-between;
}

.header__nav-right-img,
.header__nav-right-img-2 {
  display: none;
}

.header-center {
  align-items: center;
  justify-content: space-between;
}

.header-center__buttons {
  padding: 20px 0;
  width: 152px;
  justify-content: space-between;
  align-items: center;
}

.header__search-btn {
  padding-top: 5px;
}

.header__search-btn svg path {
  transition: all .3s ease-in-out;
}

.header-center__enter-btn {
  padding: 10px 31px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.header__link {
  cursor: pointer;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.menu__link {
  padding: 4px 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
  transition: all .3s ease-in-out;
}

.menu {
  width: 658px;
  justify-content: space-between;
}

.header-bottom {
  border-top: 1px solid var(--color-light-color);
  border-bottom: 1px solid var(--color-light-color);
}

.header__mobile-bottom__link {
  padding: 4px;
  transition: all .3s ease-in-out;
}

.header-bottom__container {
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 100px;
  padding-left: 97px;
}

.header-bottom__list {
  width: 96.3%;
  justify-content: space-between;
}

.header__mobile-list-item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.header-bottom__btn {
  padding-left: 12px;
  padding-right: 9px;
}

.header-bottom__limitation-icon {
  background-image: url("../img/12+icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 46px;
  height: 58px;
}

.header-bottom__btn svg path {
  transition: all .3s ease-in-out;
}

.header-bottom__btn-1,
.header-bottom__btn-2 {
  width: 173px;
  height: 40px;
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
}

.header-bottom__btn-2 {
  border-left: transparent;
}

.header-bottom__subtitle {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin-bottom: 5px;
}

.header-bottom__title {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 5px;
}

.header-bottom__content {
  padding-top: 3px;
}

.header-bottom__play-button {
  display: none;
}

.header__form-search {
  position: relative;
  width: 50px;
  height: 24px;
  margin-right: 24px;
}

.form-search__input-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 24px;
  width: 0;
  padding-right: 24px;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.form-search__btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: none;
  transition: all .3s ease-in-out;
}

.form-search__btn-search svg path {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .form-search__btn-search:hover svg path {
    stroke: var(--color-primary-light);
  }
}

.form-search__btn-search:focus-visible svg path {
  stroke: var(--color-primary-light);
}

.form-search__btn-search:active svg path {
  stroke: var(--color-primary-shade);
}

.form-search__input-search:focus-visible {
  width: 308px;
  z-index: 0;
  margin-right: 24px;
  border-bottom: 1px solid var(--color-primary);
  background: var(--color-white);
  cursor: inherit;
}

.header-bottom__btns {
  width: 33.7%;
}

.header-bottom__btns-mobil {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none;
  width: 120px;
  margin-bottom: 17px;
}

.bottom-btns__btn-players {
  position: relative;
  width: 175px;
  height: 40px;
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottom-btns__btn-players svg {
  position: absolute;
  top: 10px;
  left: 11px;
}

.bottom-btns__btn-players svg path {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.passive {
  opacity: 0;
}

.btn-active {
  opacity: 1;
}

.bottom-btns__btn-players-archive::before {
  position: absolute;
  top: 2px;
  left: 42px;
  content: 'Ранее в эфире';
  font-size: 12px;
  color: var(--color-text-gray);
}

.bottom-btns__btn-players-archive::after {
  position: absolute;
  top: 18px;
  left: 42px;
  content: '\00ABМузыка\00BB';
  font-size: 16px;
  color: var(--color-black);
}

.bottom-btns__btn-players-ether::before {
  position: absolute;
  top: 2px;
  left: 42px;
  content: 'Сейчас в эфире';
  font-size: 12px;
  color: var(--color-text-gray);
}

.bottom-btns__btn-players-ether::after {
  position: absolute;
  top: 18px;
  left: 42px;
  content: '\00ABКак так?\00BB';
  font-size: 16px;
  color: var(--color-black);
}

@media screen and (any-hover: hover) {
  .bottom-btns__btn-players:hover svg path {
    fill: var(--color-primary);
  }
}

.bottom-btns__btn-players:focus-visible svg path {
  fill: var(--color-primary-light);
}

.bottom-btns__btn-players:active svg path {
  fill: var(--color-primary-shade);
}

/* hero */

.hero__content {
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 94px;
  background-image: url("../img/microphone-1920.svg");
  background-repeat: no-repeat;
  background-size: 350px 372px;
  background-position: right center;
}

.hero__italic {
  font-style: italic;
  font-weight: 400;
}

.hero__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 14px;
}

.hero__descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 635px;
  margin-bottom: 45px;
}

.hero__link {
  cursor: pointer;
  max-width: 245px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 23px 52px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  transition: all .3s ease-in-out;
}

.hero__span-link {
  cursor: pointer;
  padding: 3px;
  outline: none;
  color: var(--color-primary);
  transition: all .3s ease-in-out;
  border-bottom: 1px solid white;
}

/* podcasts */

.podcasts {
  background: var(--color-light-color);
  padding: 95px 0;
}

.podcasts__title {
  margin-bottom: 29px;
}

.podcasts__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.podcasts__list-item {
  width: 48.6%;
  background: var(--color-white);
}

.podcasts__list-item {
  margin-bottom: 30px;
}

.podcasts__content-img {
  max-width: 112px;
  height: 100%;
  object-fit: cover;
}

.podcasts__content {
  font-size: 0;
}

.podcasts__image-content {
  position: relative;
}

.podcasts__image-content-data {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 51px;
  height: 16px;
  background: var(--color-light-color);
  color: var(--color-black);
  font-size: 10px;
  line-height: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.podcasts__content-item {
  flex-direction: column;
  width: 100%;
}

.podcasts__content-item-top {
  min-height: 108px;
  justify-content: space-between;
  padding: 24px 29px 24px 30px;
}

.podcasts__content-item-bottom {
  min-height: 31px;
  border-top: 1px solid var(--color-light-color);
  font-size: 16px;
  align-items: center;
  font-size: 0;
}

.podcasts__content-item-left {
  flex-direction: column;
}

.podcasts__time {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 9px;
  color: var(--color-black);
}

.podcasts__name {
  max-width: 200px;
  margin-bottom: 3px;
}

.podcasts__autor {
  max-width: 200px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.autor__link-item-link svg path {
  transition: all .3s ease-in-out;
}

.podcasts__social-list {
  padding-left: 28px;
  padding-top: 1px;
}

.podcasts__social-link path {
  transition: all .3s ease-in-out;
}

.podcasts__social-link-1 {
  margin-right: 6px;
}

.podcasts__social-link-2 {
  margin-right: 6px;
}

.podcasts__social-link-3 {
  margin-right: 5px;
}

.podcasts__social-btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
  padding-top: 2px;
  padding-left: 2px;
  transition: all .3s ease-in-out;
}

.podcasts__social-list-item:not(:last-child) {
  margin-right: 29px;
}

.podcasts__social-link:not(:last-child) {
  margin-right: 3px;
}

.podcasts__social-link-2:not(:last-child) {
  margin-right: 6px;
}

.podcasts__social-link-3:not(:last-child) {
  margin-right: 5px;
}

.podcasts__button {
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-primary);
  padding: 23px 52px;
  border: 2px solid var(--color-primary);
  border-radius: 40px;
  transition: all .3s ease-in-out;
}

.podcasts__btn {
  width: 48px;
  height: 48px;
  background-image: url("../img/broadcast-play-button.svg");
  margin-top: 6px;
  transition: all .3s ease-in-out;
}

.podcasts__list-item-9,
.podcasts__list-item-10,
.podcasts__list-item-11,
.podcasts__list-item-12 {
  display: none;
}

.block-active {
  display: block;
}

.btn-hidden {
  display: none;
}

/* broadcasts */

.choices {
  width: 255px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  border-width: 0px;
  border-right: 1px solid var(--color-text-gray);
  border-top: 1px solid var(--color-text-gray);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -6px;
  margin-right: 6px;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-left: 1px solid var(--color-text-gray);
  border-bottom: 1px solid var(--color-text-gray);
  margin-top: -2px;
}

.choices.is-open {
  position: relative;
  z-index: 1;
}

.choices__inner {
  min-height: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  border: 1px solid var(--color-light-color);
  font-size: 16px;
  background-color: var(--color-light-color);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 7px 7.5px 3.75px;
}

@media screen and (any-hover: hover) {
  .choices:hover .choices__inner {
    background-color: var(--color-light-color-40);
    border-color: var(--color-light-color-40);
  }
}

.choices:focus-visible .choices__inner {
  border-color: var(--color-primary);
}

.choices:active:not(:focus-visible) .choices__inner {
  background-color: var(--color-shade-gray);
  border-color: var(--color-shade-gray);
}

.is-open .choices__inner {
  border: 1px solid var(--color-light-color);
  border-radius: 10px;
}

.is-focused .choices__inner {
  border-color: var(--color-light-color);
}

.choices__list--single {
  padding-top: 3px;
}

.choices__list--dropdown {
  z-index: -1;
  top: 85%;
  padding-top: 6px;
  color: var(--color-text-gray);
}

.choices__list--dropdown .choices__item {
  padding: 11px;
  font-size: 16px;
}

@media screen and (any-hover: hover) {
  .choices__item:hover {
    background-color: var(--color-light-color-40);
  }
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--color-light-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: var(--color-primary-light);
  color: var(--color-black);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.is-open .choices__list--dropdown {
  border: 1px solid var(--color-light-color);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item.is-selected {
  display: none;
}

@media screen and (any-hover: hover) {
  .choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
    background-color: var(--color-light-color-40);
  }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:active {
  background-color: var(--color-light-color);
}

.broadcasts {
  padding-top: 94px;
  padding-bottom: 64px;
}

.broadcast-content-img {
  transition: all .3s ease-in-out;
}

.broadcasts__list-left {
  display: none;
}

.broadcasts__list {
  flex-wrap: wrap;
}

.broadcasts__left-content,
.broadcasts__bottom-content,
.broadcasts__bottom-descr-content,
.broadcasts__list-item-content {
  flex-direction: column;
}

.broadcasts__list-item-content {
  font-size: 0;
  height: 100%;
  position: relative;
}

.broadcasts__title {
  margin-bottom: 9px;
}

.broadcasts__author {
  color: var(--color-text-gray);
  margin-bottom: 8px;
}

.broadcasts__bottom-content {
  margin-top: auto;
  font-size: 0;
}

.broadcasts__left-content {
  flex-basis: 255px;
  margin-right: 30px;
}

.broadcasts__right-content {
  font-size: 0;
  padding-top: 13px;
}

.broadcasts__list-item {
  margin-bottom: 30px;
}

.broadcasts__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.broadcasts__content {
  outline: 1px solid var(--color-light-color);
  flex-direction: column;
  padding: 20px 70px 20px 16px;
  max-width: 255px;
  height: 100%;
}

.broadcasts__name {
  font-weight: 500;
  margin-bottom: 4px;
}

.broadcasts__time {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
  margin-bottom: 20px;
}

.broadcasts__link {
  width: 119px;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: italic;
  transition: all .3s ease-in-out;
}

.broadcasts__bottom-content {
  margin-top: 227px;
}

.broadcasts__bottom-link {
  width: 160px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 9px 44px 8px 44px;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  align-items: center;
  margin-bottom: 13px;
  transition: all .3s ease-in-out;
}

.broadcasts__bottom-content-img {
  margin-bottom: 24px;
}

.broadcasts__link-svg {
  margin-right: 3px;
}

.broadcasts__link-svg path {
  transition: all .3s ease-in-out;
}

.broadcasts__bottom-descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.broadcasts__bottom-enjoy-span {
  font-weight: 700;
}

/* guests */

.guests {
  padding-top: 95px;
  padding-bottom: 93px;
  background: var(--color-black);
}

.guests__title {
  color: var(--color-white);
  margin-bottom: 12px;
}

.guests__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-text-gray);
  margin-bottom: 8px;
}

.guests__descr {
  max-width: 825px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin-bottom: 50px;
}

.guests__accordion {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.guests__text {
  max-width: 825px;
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-text-gray);
}

.accordion-list {
  width: 730px;
  margin-right: 30px;
}

.accordion-list__item {
  position: relative;
  min-height: 88px;
  margin-top: -1px;
  border-top: 1px solid var(--color-text-gray);
}

.tabs-nav {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 800px;
  padding-top: 27px;
  padding-bottom: 20px;
}

.tabs-nav__item {
  width: 172px;
}

.tabs-nav__item:not(:nth-child(4n)) {
  margin-right: 17px;
}

.tabs-nav__item:not(:nth-child(13n)) {
  margin-bottom: 9px;
}

.accordion-list__title {
  padding: 34px 50px 31px 0;
  color: var(--color-light-color);
  border-bottom: 1px solid var(--color-text-gray);
  font-weight: 500;
  font-size: 20px;
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.ui-accordion-header-active~svg {
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-list__img {
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.accordion-list__img circle,
path {
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.accordion-list__title::before {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  height: 88px;
  cursor: pointer;
}

@media screen and (any-hover: hover) {
  .accordion-list__title:hover {
    color: var(--color-primary-light);
  }
}

@media screen and (any-hover: hover) {
  .accordion-list__title:hover~.accordion-list__img circle {
    stroke: var(--color-primary-light);
  }  
}

@media screen and (any-hover: hover) {
  .accordion-list__title:hover~.accordion-list__img path {
    stroke: var(--color-primary-light);
  }
}


.accordion-list__title:focus-visible::before {
  background-color: var(--color-primary-light);
  opacity: .3;
}

.accordion-list__title:active {
  color: var(--color-primary-light);
}

.accordion-list__title:active~.accordion-list__img circle {
  fill: var(--color-primary-light);
}

.accordion-list__title:active~.accordion-list__img path {
  stroke: var(--color-white);
}

.tabs-nav__btn {
  display: block;
  padding: 2px;
  font-size: 16px;
  color: var(--color-white);
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media screen and (any-hover: hover) {
  .tabs-nav__btn:hover {
    color: var(--color-primary);
  } 
}

.tabs-nav__btn:focus-visible {
  background-color: var(--color-primary-light);
}

.tabs-nav__btn:active {
  color: var(--color-primary-shade);
}

.accordion-list__img {
  position: absolute;
  top: 20px;
  right: 0;
}

.tabs-content {
  position: relative;
  margin-top: -1px;
}

.tabs-content__bloggers {
  position: absolute;
  top: 0;
  width: 350px;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

.tabs-item__img img {
  margin-bottom: 7px;
}

.tabs-item__list {
  margin-bottom: 7px;
}

.tabs-item__item:not(:last-child) {
  margin-right: 30px;
}

.tabs-item__link {
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media screen and (any-hover: hover) {
  .tabs-item__link:hover svg path {
    fill: var(--color-primary);
  }
}

.tabs-item__link:focus-visible svg path {
  fill: var(--color-primary-light);
}

.tabs-item__link:active svg path {
  fill: var(--color-primary-shade);
}

.tabs-item__title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.tabs-item__desc {
  margin-bottom: 28px;
  line-height: 1.8;
  color: var(--color-text-gray);
}

.tabs-item__btn {
  padding: 10px 18.5px;
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  outline: none;
  font-weight: 500;
  color: var(--color-primary-light);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.guest__card {
  display: none;
}

.guest__card-active {
  display: block;
}

@media screen and (any-hover: hover) {
  .tabs-item__btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary-light);
  }
}

.tabs-item__btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.tabs-item__btn:active {
  color: var(--color-white);
  background-color: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

/* playlists */

.playlists {
  padding-top: 95px;
  padding-bottom: 64px;
}

.playlists__list-left {
  display: none;
}

.mobile-slider {
  display: none;
}

.playlists__container-left {
  min-width: 350px;
  flex-direction: column;
  margin-right: 30px;
}

.playlists__container-right {
  padding-top: 13px;
}

.playlists__list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.playlists__bottom-content {
  flex-direction: column;
  padding-top: 30px;
  border-top: 1px solid var(--color-shade-gray);
}

.playlists__bottom-content-img {
  width: 30px;
  height: 30px;
}

.playlists__form {
  margin-bottom: 22px;
}

.playlists__list-item {
  flex-direction: column;
  margin-bottom: 30px;
  width: 21.8%;
}

.playlists-content {
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.playlists-content svg {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 33%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.playlists-content picture::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: var(--color-black);
  opacity: 0;
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .playlists-content:hover picture::before {
    opacity: .8;
  }
}

@media screen and (any-hover: hover) {
  .playlists-content:hover svg {
    opacity: 1;
  }
}

@media screen and (any-hover: hover) {
  .playlists-content:hover .playlists-content__bottom {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
    transition: all .3s ease-in-out;
  }
}

.playlists-content:focus-visible svg {
  opacity: 1;
}

.playlists-content:focus-visible svg circle {
  fill: var(--color-primary-light);
}

.playlists-content:focus-visible picture::before {
  opacity: .8;
}

.playlists-content:focus-visible {
  outline: none;
}

.playlists-content:active picture::before {
  opacity: .8;
}

.playlists-content:active .playlists-content__bottom {
  border-color: var(--color-primary-shade);
  color: var(--color-black);
  background-color: var(--color-primary-shade);
}

.playlists-content:active svg {
  transform: scale(1.17);
  opacity: 1;
}

.playlists-content:active svg circle {
  fill: var(--color-primary-shade);
}

.playlists-content:focus-visible .playlists-content__bottom {
  border-color: var(--color-primary-light);
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .playlists-content:hover .playlists-content__subtitle,
  .playlists-content:hover .playlists-content__descr {
    color: var(--color-white);
    transition: all .3s ease-in-out;
  }
}

.playlists-content:focus-visible .playlists-content__subtitle,
.playlists-content:focus-visible .playlists-content__descr {
  color: var(--color-white);
  transition: all .3s ease-in-out;
}

.playlists-content__img {
  object-fit: cover;
}

.playlists-image-content {
  position: relative;
  transition: all .3s ease-in-out;
}

.playlists-image-content:before {
  content: '';
  position: absolute;
  right: 0;
  width: 24px;
  height: 20px;
  background-image: url("../img/playlists-russian-bg.svg");
}

.playlists-image-content-2:before {
  background-image: url("../img/playlists-gb-bg.svg");
}

.playlists-content__bottom {
  padding: 15px 10px 15px 15px;
  flex-direction: column;
  border: 1px solid var(--color-light-color);
  height: 100%;
  transition: all .3s ease-in-out;
}

.playlists-content__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--color-black);
  transition: all .3s ease-in-out;
}

.playlists-content__descr {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-text-gray);
  transition: all .3s ease-in-out;
}

.playlists__title {
  margin-bottom: 11px;
}

.playlists__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.form-container {
  height: 36px;
  margin-bottom: 10px;
  padding-top: 3px;
}

.form-input {
  display:flex;
  flex-direction: column;
}

.form-container__label {
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

.form-container:focus-visible {
  outline: none;
}

.form-btn {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-text-gray);
  top: 7px;
  left: 2px;
  margin-right: 12px;
  transition: 0.3s all linear;
  cursor: pointer;
}

.form-btn:checked {
  border: 7px solid var(--color-primary);
}

.playlists__bottom-content-descr-top {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.playlists__bottom-content-copy {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text-gray);
  margin-bottom: 6px;
}

.mobile-slider {
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  margin-bottom: 30px;
}

.content {
  display: flex;
  overflow: auto;
  flex: none;
  height: 50px;
}

.content.x {
  width: 100%;
  height: 35px;
  flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}

.content > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.content > div {
  font-size: 16px;
  line-height: 16px;
  height: 35px;
}

::-webkit-scrollbar {
  width: 0px;
  height:0px;
  background: transparent;
}

/* be-with-us */

.be-with-us {
  background: var(--color-light-black);
  padding-top: 95px;
  padding-bottom: 132px;
}

.be-with-us__container {
  justify-content: space-between;
  padding-left: 95px;
}

.be-with-us__bg {
  position: relative;
  padding-top: 7px;
}

.be-with-us__action-img {
  position: absolute;
  top: 0;
  left: 0;
}

.be-with-us__content {
  flex-direction: column;
  width: 40%;
  padding-left: 1px;
}

.be-with-us__title {
  color: var(--color-promo-color);
}

.be-with-us__title:after {
  content: '';
  display: inline-block;
  width: 445px;
  height: 19px;
  background-image: url("../img/bewithus-border-1920.png");
  background-repeat: no-repeat;
}

.be-with-us__descr {
  color: var(--color-white);
  max-width: 445px;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
}

.be-with-us__descr-top {
  margin-bottom: 12px;
}

.be-with-us__descr-bottom {
  margin-bottom: 30px;
}

.be-with-us__content-price {
  color: var(--color-white);
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 29px;
}

.be-with-us__link {
  width: 300px;
  height: 70px;
  padding-top: 24px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-promo-color);
  border: 2px solid var(--color-promo-color);
  border-radius: 100px;
  transition: all .3s ease-in-out;
}

.be-with-us__link svg {
  margin-right: 7px;
}

.be-with-us-span {
  color: var(--color-promo-color);
}

/* about-us */

.about-us {
  background: var(--color-black);
  color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 95px;
}

.about-us__container {
  flex-direction: column;
}

.about-us__content {
  flex-direction: column;
  width: 58%;
  margin-right: 20px;
}

.about-us__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about-us__list-item-content {
  flex-direction: column;
}

.about-us__list-item {
  width: 23%;
}

.about-us__title {
  padding-top: 2px;
  margin-bottom: 12px;
}

.about-us__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--color-text-gray);
}

.about-us__descr {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.about-us__container-top {
  background-image: url("../img/about-us-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-bottom: 29px;
}

.about-us__list-item-name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 8px;
}

.about-us__list-item-descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.about-us__list-item-img {
  margin-bottom: 30px;
  object-fit: cover;
}

.about-us-form {
  width: 920px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us__form-container-1 {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us__form-container-2 ,
.about-us__form-container-3 {
  width: 48.4%;
}

.about-us__input {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 30px;
  color: var(--color-text-gray);
  background: var(--color-black);
  border: 1px solid var(--color-white);
}

.about-us__input-1 {
  resize: none;
  width: 100%;
  min-height: 150px;
  border-radius: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
}

.about-us__input-2 {
  margin-right: auto;
}

.about-us__input-2,
.about-us__input-3 {
  width: 100%;
  min-height: 70px;
  border-radius: 40px;
  margin-bottom: 30px;
  padding-right: 30px;
}

.about-us-form__checkbox {
  flex-direction: column;
}

.about-us__form-btn {
  width: 212px;
  height: 70px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 40px;
  color: var(--color-white);
  background: var(--color-primary);
  margin-bottom: 30px;
  transition: all .3s ease-in-out;
}

.about-us__checkbox {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.about-us__label {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: var(--color-white);
  align-items: flex-end;
  padding-left: 22px;
  padding-top: 3px;
  cursor: pointer;
}

.about-us__checkbox {
  display: none;
}

.about-us__checkbox + span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}

.about-us__checkbox + span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-image: url(../img/galochka.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us__checkbox:checked + span::before {
  opacity: 1;
}

.about-us__form-container-1,
.about-us__form-container-2,
.about-us__form-container-3 {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: 10px;
  left: 32px;
}

/* footer */

.footer__mobile-list {
  display: none;
}

.footer {
  background: var(--color-light-black);
}

.footer__container {
  width: 100%;
  justify-content: space-between;
}

.footer__content {
  padding-top: 93px;
  padding-bottom: 94px;
}

.footer__copy {
  position: relative;
  text-align: center;
  min-height: 55px;
  background-image: url("../img/footer.svg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.footer__copy-bg {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin: auto;
}

.footer__content-left {
  flex-direction: column;
}

.footer__menu-list {
  width: 40%;
  justify-content: space-between;
}

.footer__logo-img {
  margin-bottom: 20px;
}

.footer__social-media-list {
  justify-content: space-between;
}

.footer__social-btn {
  transition: all .3s ease-in-out;
}

.footer__social-youtube {
  background-image: url("../img/youtube-icon.svg");
}

.footer__social-insta {
  background-image: url("../img/instagram-icon.svg");
}

.footer__social-fb {
  background-image: url("../img/fb-icon.svg");
}

.footer__social-tw {
  background-image: url("../img/twitter-icon.svg");
}

.footer__content-list {
  flex-direction: column;
}

.footer__menu-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.footer__menu-list-item:not(:nth-child(3n)) {
  margin-bottom: 20px;
}

/* effects */

@media screen and (any-hover: hover) {
  .menu__link:hover {
    color: var(--color-primary);
  }
}

.menu__link:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  outline: none;
}

.menu__link:active {
  color: var(--color-primary-shade);
}

@media screen and (any-hover: hover) {
  .header-center__enter-btn:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}

.header-center__enter-btn:focus-visible {
  background: var(--color-primary-light);
  outline: none;
}

.header-center__enter-btn:active {
  border-color: var(--color-primary-shade);
  background: var(--color-primary-shade);
  color: var(--color-white);
}

@media screen and (any-hover: hover) {
  .header__mobile-bottom__link:hover {
    color: var(--color-primary);
  }
}

.header__mobile-bottom__link:focus-visible {
  outline: none;
  background: var(--color-primary-light);
  color: var(--color-white);
}

.header__mobile-bottom__link:active {
  color: var(--color-primary-shade);
}

@media screen and (any-hover: hover) {
  .header-bottom__btn:hover svg path {
    fill: var(--color-primary);
  }
}

.header-bottom__btn:focus-visible {
  outline: none;
}

.header-bottom__btn:focus-visible svg path {
  fill: var(--color-primary-light);
}

@media screen and (any-hover: hover) {
  .hero__span-link:hover {
    border-color: var(--color-primary);
  }
}

.hero__span-link:focus-visible {
  border: none;
  background: var(--color-primary-light);
  color: var(--color-white);
}

@media screen and (any-hover: hover) {
  .hero__link:hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}

.hero__link:focus-visible {
  outline: none;
  background: var(--color-primary-light);
  border-color: var(--color-primary-shade);
}

.hero__link:active {
  background: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
}

@media screen and (any-hover: hover) {
  .podcasts__btn:hover {
    background-image: url("../img/broadcast-play-button-hover.svg");
  }
}

.podcasts__btn:focus-visible {
  outline: none;
  background-image: url("../img/broadcast-play-button-focus.svg");
}

.podcasts__btn:active {
  background-image: url("../img/broadcast-play-button-active.svg");
}

@media screen and (any-hover: hover) {
  .podcasts__social-btn:hover {
    color: var(--color-primary);
  }
}

@media screen and (any-hover: hover) {
  .podcasts__social-btn:hover svg path {
    fill: var(--color-primary);
  }
}

.podcasts__social-btn:hover svg path {
  transition: all .3s ease-in-out;
}

.podcasts__social-btn:focus-visible {
  outline: none;
  color: white;
  background: var(--color-primary-light);
}

.podcasts__social-btn:focus-visible svg path {
  transition: all .3s ease-in-out;
  fill: var(--color-white);
}

.podcasts__social-btn:active svg path {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .podcasts__button:hover {
    color: var(--color-white);
    background: var(--color-primary);
  }
}

.podcasts__button:focus-visible {
  outline: none;
  color: var(--color-white);
  background: var(--color-primary-light);
}

.podcasts__button:active {
  color: var(--color-white);
  background: var(--color-primary-shade);
}

.podcasts__social-list-item {
  transition: all .3s ease-in-out;
}

.broadcasts__link::before {
  position: absolute;
  top: -7px;
  right: 0;
  bottom: 0;
  left: -7px;
  content: '';
  width: 271px;
  height: 106%;
  border: 1px solid var(--color-primary);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.broadcasts__link::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: '';
  height: 148px;
  width: 255px;
  background-color: var(--color-light-color);
  transition: all .3s ease-in-out;
  opacity: 0;
}

@media screen and (any-hover: hover) {
  .broadcasts__link:hover::after {
    opacity: .3;
  }
}

@media screen and (any-hover: hover) {
  .broadcasts__link:hover {
    color: var(--color-primary);
  }
}

@media screen and (any-hover: hover) {
  .broadcasts__link:hover svg path {
    fill: var(--color-primary);
  }
}


.broadcasts__link:focus-visible {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  outline: none;
}

.broadcasts__link:focus-visible svg path {
  fill: var(--color-white);
}

.broadcasts__link:focus-visible::before {
  opacity: 1;
}

@media screen and (any-hover: hover) {
  .broadcasts__bottom-link:hover {
    background: var(--color-black);
    color: var(--color-white);
  }
}

@media screen and (any-hover: hover) {
  .broadcasts__bottom-link:hover svg path {
    stroke: var(--color-white);
  }
}

.broadcasts__bottom-link:focus-visible {
  background: var(--color-primary-light);
  color: var(--color-black);
  border-color: var(--color-black);
}

.broadcasts__bottom-link:focus-visible svg path {
  stroke: var(--color-black);
}

.broadcasts__bottom-link:focus-visible {
  outline: none;
}

.broadcasts__bottom-link:active {
  border-color: var(--color-primary-shade);
  background: var(--color-primary-shade);
  color: var(--color-white);
}

.broadcasts__bottom-link:active svg path {
  stroke: var(--color-white);
}

@media screen and (any-hover: hover) {
  .form-btn:hover {
    border-color: var(--color-primary);
  }
}

.form-btn:focus-visible {
  border-color: var(--color-primary);
  background: var(--color-shade-gray);
  outline: none;
}

.be-with-us__link:hover path {
  transition: all .3s ease-in-out;
}

.be-with-us__link svg path {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .be-with-us__link:hover {
    background: var(--color-promo-color);
    color: var(--color-black);
  }
}

@media screen and (any-hover: hover) {
  .be-with-us__link:hover svg path:first-child {
    fill: var(--color-black);
  }
}

@media screen and (any-hover: hover) {
  .be-with-us__link:hover svg path:nth-child(2) {
    fill: var(--color-promo-color);
  }
}

.be-with-us__link:focus-visible {
  outline: none;
  border: 2px solid var(--color-promo-color);
  background: var(--color-promo-color-shade);
  color: var(--color-black);
}

.be-with-us__link:active {
  background: var(--color-promo-color-shade);
  border-color: var(--color-promo-color-shade);
  color: var(--color-black);
}

@media screen and (any-hover: hover) {
  .autor__link:hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);
    color: var(--color-white);
  }
}

.autor__link:focus-visible {
  outline: none;
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

.autor__link:active {
  background: var(--color-primary-shade);
  border-color: var(--color-primary-shade);
  color: var(--color-white);
}

.about-us__input {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .about-us__input:hover {
    background: rgba(230, 232, 236, 0.1);
  }
}

.about-us__input:focus {
  outline: none;
  border-color: var(--color-primary-light);
}

.footer__social-btn svg path {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .footer__social-btn:hover svg path {
    fill: var(--color-primary);
  }
}

.footer__social-btn:focus-visible svg path {
  outline: none;
  fill: var(--color-primary-light);
}

.footer__social-btn:focus-visible {
  outline: none;
}

.footer__social-btn:active svg path {
  fill: var(--color-primary-shade);
}

.footer__menu-link {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-primary);
  }
}

.footer__menu-link:focus-visible {
  background: var(--color-primary-light);
  color: var(--color-white);
}

.footer__menu-link:focus-visible {
  outline: none;
}

@media screen and (any-hover: hover) {
  .about-us__form-btn:hover {
    background: var(--color-primary-light);
  }
}

.about-us__form-btn:focus-visible {
  outline: none;
  background: var(--color-primary-light);
}

.about-us__form-btn:active {
  background: var(--color-primary-shade);
}

.header-center__burger:focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--color-primary-light);
}

.header__close-menu:focus-visible {
  outline-offset: 3px;
  outline: 2px solid var(--color-primary-light)
}

.mobile-slider__btn {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .mobile-slider__btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
  }
}

.mobile-slider__btn:focus-visible {
  outline: none;
  background: var(--color-primary-light);
  color: var(--color-white);
}

.playlists__list-item:focus-visible {
  outline: none;
}

.header-top__enter-btn {
  transition: all .3s ease-in-out;
}

@media screen and (any-hover: hover) {
  .header-top__enter-btn:hover {
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
  }
}

.header-top__enter-btn:focus-visible {
  outline: none;
  border-color: var(--color-primary-shade);
}

@media screen and (any-hover: hover) {
  .autor__link-item-link:hover svg path {
    fill: var(--color-primary);
  }
}

.autor__link-item-link:focus-visible svg path {
  fill: var(--color-primary-light);
}

.autor__link-item-link:focus-visible{
  outline: none;
}

.autor__link-item-link:active svg path {
  fill: var(--color-primary-shade);
}