html {
  box-sizing: border-box;
}
  
*,
*:before,
*::after {
  box-sizing: inherit;
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerLight.woff2") format('woff2'),
  url("../fonts/MullerLight.woff") format('woff');
  font-display: swap;
  font-weight: 300;
}
  
@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerRegular.woff2") format('woff2'),
  url("../fonts/MullerRegular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerRegularItalic.woff2") format('woff2'),
  url("../fonts/MullerRegularItalic.woff") format('woff');
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerMedium.woff2") format('woff2'),
  url("../fonts/MullerMedium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'),
  url("../fonts/MullerBold.woff2") format('woff2'),
  url("../fonts/MullerBold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #121723;
  --color-light-black: #292E39;
  --color-primary: #6D31EE;
  --color-primary-shade: #4F28A5;
  --color-primary-light: #AA9DFA;
  --color-light-color: #E6E8EC;
  --color-text-gray: #A1A6B4;
  --color-shade-gray: #D2D5DD;
  --color-light-color-40: rgba(230, 232, 236, 0.4);
  --color-red: #FF6F6F;;
  --color-promo-color: #F0D288;;
  --color-promo-color-shade: #BB973E;;
}  

body {
  font-family: 'Muller', sans-serif;
  background: var(--color-white);
}
  
.flex {
  display: flex;
}
  
.fz-hack {
  font-size: 0;
}

.btn-reset {
  padding: 0;
  margin: 0;  
  cursor: pointer;
  border: none;
  background: transparent;
}
  
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-reset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}

.subtitle-reset {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

.container {
  max-width: 1310px;
  padding: 0 100px;
  margin: 0 auto;
}


/* header */

.header-top {
  display: none;
}

.header-center__burger {
  display: none;
}

.header__close-menu {
  display: none;
}

.header-bottom__play-btn {
  display: none;
}

.header-bottom__whatplay {
  display: none;
}

.header__nav-right-img,
.header__nav-right-img-2 {
  display: none;
}

.header-center {
  align-items: center;
  justify-content: space-between;
}

.header-center__buttons {
  padding: 20px 0;
  width: 152px;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  padding-top: 5px;
}

.header-center__enter {
  padding: 10px 31px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.header__link {
  cursor: pointer;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 77px;
}

.menu__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

.menu {
  width: 638px;
  justify-content: space-between;
}

.header-bottom {
  font-size: 0;
  outline: 1px solid var(--color-light-color);
}

.header-bottom__container {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-bottom__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.header-bottom__link:not(:last-child) {
  margin-right: 52px;
}

.header-bottom__btn {
  padding-left: 12px;
  padding-right: 12px;
}

.header-bottom__btn-1,
.header-bottom__btn-2 {
  width: 173px;
  height: 40px;
  border-left: 1px solid var(--color-light-color);
  border-right: 1px solid var(--color-light-color);
}

.header-bottom__btn-2 {
  border-left: transparent;
}

.header-bottom__subtitle {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin-bottom: 5px;
}

.header-bottom__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 5px;
}

.header-bottom__content {
  padding-top: 3px;
}

.header-bottom__play-button {
  display: none;
}

/* hero */

.hero__container {
  justify-content: space-between;
}

.hero__bg {
  font-size: 0;
  padding: 39px 0;
}

.hero__content {
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 94px;
}

.hero__italic {
  font-weight: 400;
}

.hero__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 13px;
}

.hero__descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 635px;
  margin-bottom: 45px;
}

.hero__link {
  cursor: pointer;
  max-width: 245px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 25px 54px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 40px;
}

.hero__span {
  color: var(--color-primary);
}

/* podcasts */

.podcasts {
  background: var(--color-light-color);
  padding: 95px 0;
}

.podcasts__title {
  margin-bottom: 29px;
}

.podcasts__list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.podcasts__list-item {
  width: 48.6%;
  max-height: 140px;
  background: var(--color-white);
}

.podcasts__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.podcasts__content {
  font-size: 0;
}

.podcasts__content-item {
  flex-direction: column;
  width: 100%;
}

.podcasts__content-item-top {
  min-height: 108px;
  justify-content: space-between;
  padding: 24px 29px 24px 30px;
}

.podcasts__content-item-bottom {
  min-height: 31px;
  border-top: 1px solid var(--color-light-color);
  font-size: 16px;
  align-items: center;
  font-size: 0;
}

.podcasts__content-item-left {
  flex-direction: column;
}

.podcasts__time {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 9px;
  color: var(--color-black);
}

.podcasts__name {
  margin-bottom: 3px;
}

.podcasts__autor {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.podcasts__social-list {
  padding-left: 30px;
  padding-top: 3px;
}

.podcasts__social-link {
  width: 13px;
  height: 13px;
}

.podcasts__social-content-text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.podcasts__social-list-item:not(:last-child) {
  margin-right: 30px;
}

.podcasts__social-link:not(:last-child) {
  margin-right: 3px;
}

.podcasts__social-link-2:not(:last-child) {
  margin-right: 6px;
}

.podcasts__social-link-3:not(:last-child) {
  margin-right: 5px;
}

.podcasts__button {
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-primary);
  padding: 23px 52px;
  border: 2px solid var(--color-primary);
  border-radius: 40px;
}

/* broadcasts */

.jq-selectbox__select {
  font-family: 'Muller';
	position: relative;
  padding: 4px 50px 11px 12px;
  width: 255px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-light-black);
  background: var(--color-light-color);
  border: none;
  border-radius: 10px;
  box-shadow: none;
  text-shadow: none;
  z-index: 10;
}

.jq-selectbox__select:hover {
  background: var(--color-light-color);
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid var(--color-light-color);
}

.jq-selectbox__select-text {
  overflow: visible;
}

.jq-selectbox__trigger {
  border: none;
  width: 29px;
  top: 3px;
  right: 1px;
}

.jq-selectbox__trigger-arrow {
  display: none;
}

.jq-selectbox__trigger::before {
  content: url(../img/broadcasts-arrow-up.svg);
  position: absolute;
  top: 2px;
  right: 0;
  left: 2px;
  bottom: 0;
}

.jq-selectbox.jqselect.dropdown.opened .jq-selectbox__trigger::before {
  content: url(../img/broadcasts-arrow-down.svg);
  position: absolute;
  top: 2px;
  right: 0;
  left: 2px;
  bottom: 0;
}

.jq-selectbox__dropdown {
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  background: var(--color-light-color);
}

.jq-selectbox li {
  padding: 10px 10px 10px;
}

.jq-selectbox li.selected {
  background-color: var(--color-light-color);
  color: var(--color-light-black);
}

.selected.sel.disabled {
  background-color: var(--color-light-color);
}

.broadcasts {
  padding-top: 94px;
  padding-bottom: 64px;
}

.broadcasts__list-left {
  display: none;
}

.broadcasts__list {
  flex-wrap: wrap;
}

.broadcasts__left-content,
.broadcasts__bottom-content,
.broadcasts__bottom-descr-content,
.broadcasts__list-item-content {
  flex-direction:column;
}

.broadcasts__list-item-content {
  font-size: 0;
}

.broadcasts__title {
  margin-bottom: 9px;
}

.broadcasts__author {
  color: var(--color-text-gray);
  margin-bottom: 8px;
}

.broadcasts__bottom-content {
  margin-top: auto;
  font-size: 0;
}

.broadcasts__left-content {
  margin-right: 30px;
}

.broadcasts__right-content {
  font-size: 0;
  padding-top: 13px;
}

.broadcasts__list-item {
  margin-bottom: 30px;
}

.broadcasts__list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.broadcasts__content {
  outline: 1px solid var(--color-light-color);
  flex-direction: column;
  padding: 20px 70px 20px 16px;
}

.broadcasts__name {
  font-weight: 500;
  margin-bottom: 4px;
}

.broadcasts__time {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-gray);
  margin-bottom: 20px;
}

.broadcasts__link {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-style: italic;
}

.broadcasts__bottom-content {
  margin-top: 227px;
}

.broadcasts__bottom-link {
  width: 160px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 9px 44px 8px 44px;
  border: 2px solid var(--color-black);
  border-radius: 77px;
  align-items: center;
  margin-bottom: 13px;
}

.broadcasts__bottom-content-img {
  margin-bottom: 24px;
}

.broadcasts__link-svg {
  margin-right: 3px;
}

.broadcasts__bottom-descr {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-gray);
}

/* guests */

.guests {
  padding: 95px 0;
  padding-bottom: 266px;
  background: var(--color-black);
}

.guests__title {
  color: var(--color-white);
  margin-bottom: 12px;
}

.guests__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-text-gray);
  margin-bottom: 8px;
}

.guests__descr {
  max-width: 825px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-text-gray);
  margin-bottom: 50px;
}

.guests__content {
  height: auto;
}

.guests__container-left {
  margin-right: 30px;
  width: 67%;
}

.guests__container-right {
  width: 32%;
}

.autor {
  display: none;
}

.autor_active {
  display: block;
}

.accordion__title {
  display: block;
  max-width: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-top: 1px;
  color: var(--color-white);
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.accordion__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 88px;
}

.accordion__row-value {
  position: relative;
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion__value-list {
  display: flex;
  max-height: 128px;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordion__link {
  display: block;
  width: 190px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-white);
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.accordion__btn {
  padding: 0;
  margin-right: 3px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: transparent;
  transition: background .2s ease-in-out, transform .2s ease-in-out, outline .2s ease-in-out;
}

.accordion__value {
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 29px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
  visibility: hidden;
}

.accordion__value-item:not(:nth-child(4n)) {
  margin-bottom: 16px;
}

.accordion__item {
  position: relative;
  flex-direction: column;
  /* border-bottom: 1px solid transparent; */
  border-top: 1px solid var(--color-text-gray);
  cursor: pointer;
  transition: border .2s ease-in-out, background .2s ease-in-out;
}

.accordion__item:last-child {
  border-bottom: 1px solid var(--color-text-gray);
}

.autor__list {
  align-items: center;
  margin-bottom: 7px;
}

.autor__list-item:not(:last-child) {
  margin-right: 30px;
}

.autor__foto {
  width: 100%;
  display: block;
  margin-bottom: 13px;
}

.autor__name {
  display: block;
  max-width: 550px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
}

.autor__descr {
  font-size: 16px;
  line-height: 29px;
  color: var(--color-text-gray);
  margin-bottom: 28px;
}

.autor__link {
  width: 160px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 10px 17px;
  border: 2px solid var(--color-primary-light);
  border-radius: 77px;
  color: var(--color-primary-light);
}

.accordion_action .accordion__row {
  border-bottom: 1px solid var(--color-primary);
}

.accordion_action .accordion__btn {
  transform: rotate(180deg);
}

/* .accordion__item:last-child:hover {
  border-bottom: 1px solid var(--color-primary-light);
}

.accordion__item:hover {
  border-top: 1px solid var(--color-primary-light);
}

.accordion__item:hover + .accordion__item {
  border-top: 1px solid var(--color-primary-light);
}

.accordion__item:hover .accordion__title {
  color: var(--color-primary-light);
}

.accordion__item:hover .accordion__btn {
  background-color: transparent;
}

.accordion__item:focus {
  outline: none;
}

.accordion__item:focus .accordion__title {
  color: var(--color-white);
  background-color: var(--color-primary-light);
}

.accordion__item:focus .accordion__btn {
  background-color: transparent;
}


.accordion__link:hover {
  color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-primary-light);
}

.accordion__link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.accordion__link:active {
  color: var(--color-primary);
  background: none;
}

.accordion_action:first-child {
  border-top: 1px solid var(--color-primary);
}

.accordion_action .accordion__title {
  color: var(--color-primary);
  background: none;
}

.accordion_action:focus .accordion__title {
  color: var(--color-primary);
  background: none;
}


.accordion__link-plug:hover {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.accordion__link-plug:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.accordion__link-plug:active {
  color: var(--color-primary);
  background: none;
} */

/* playlists */

.playlists {
  padding: 95px 0;
}

.playlists__list-left {
  display: none;
}

.mobile-slider {
  display: none;
}

.playlists__container-left {
  min-width: 350px;
  flex-direction: column;
  margin-right: 30px;
}

.playlists__container-right {
  padding-top: 13px;
}

.playlists__list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.playlists__bottom-content {
  /* width: 32%; */
  flex-direction: column;
  padding-top: 30px;
  border-top: 1px solid var(--color-shade-gray);
}

.playlists__bottom-content-img {
  width: 30px;
  height: 30px;
}

.playlists__form {
  margin-bottom: 22px;
}

.playlists__list-item {
  flex-direction: column;
  margin-bottom: 30px;
}

.playlists-content {
  flex-direction: column;
}

.playlists-content__bottom {
  padding: 15px 10px 15px 15px;
  flex-direction: column;
  border: 1px solid var(--color-light-color);
}

.playlists-content__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--color-black);
}

.playlists-content__descr {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.playlists__title {
  margin-bottom: 11px;
}

.playlists__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.form-container {
  height: 36px;
  margin-bottom: 10px;
  padding-top: 3px;
}

.form-input {
  display:flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-black);
}

input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-text-gray);
  top: 7px;
  left: 2px;
  margin-right: 12px;
  transition: 0.2s all linear;
  cursor: pointer;
}

input:checked {
  border: 7px solid var(--color-primary);
}

.playlists__bottom-content-descr-top {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-text-gray);
}

.playlists__bottom-content-copy {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text-gray);
  margin-bottom: 6px;
}

.mobile-slider {
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  margin-bottom: 30px;
}

.content {
  display: flex;
  overflow: auto;
  flex: none;
  height: 50px;
}

.content.x {
  width: 100%;
  height: 35px;
  flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}

.content > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.content > div {
  font-size: 16px;
  line-height: 16px;
  /* width: 100%; */
  height: 35px;
}

::-webkit-scrollbar {
  width: 0px;
  height:0px;
  background: transparent;
}

